@font-face {
    font-family: font;
    src: url('/fonts/DMSans.ttf');
}

html {
    font-family: font;
    font-size: 18px;
}

body {
    max-width: 1200px;
}

.gap-9 {
    gap: calc(var(--spacing) * 9);
}

.self-flex-start {
    align-self: flex-start;
}