@font-face {
    font-family: font;
    src: url('/fonts/DMSans.ttf');
}

html {
    font-family: font;
    font-size: 18px;
}

body {
    max-width: 1200px;
}

.gap-9 {
    gap: calc(var(--spacing) * 9);
}

.self-flex-start {
    align-self: flex-start;
}

@media (max-width: 600px) {
    header.flex {
        flex-direction: column;
        align-items: center;
    }

    .author {
        margin-bottom: 30px;
    }

    .social-links {
        display: flex;
        justify-content: center;
    }
}